**__pycache__**
**egg-info**
**source**
**make.bat**
**Makefile**
**dist**
**server_logs**

doc/
examples/
venv/
*.idea/
*.vscode/

*.pyc
*.so
*.pth
*.pkl
*.zip
*.bin
*.txt

build
output
version.py

.DS_Store